Client Birthday Email.json
{
  "name": "Client Birthday Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        288
      ],
      "id": "a787df7e-9119-4174-9ffa-ec637ed7b3d5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mLI7Pynwu-FBxvs9iPuS-6yC_fz6fXbkfEuvHTty7H4",
          "mode": "list",
          "cachedResultName": "Client Birthday Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mLI7Pynwu-FBxvs9iPuS-6yC_fz6fXbkfEuvHTty7H4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mLI7Pynwu-FBxvs9iPuS-6yC_fz6fXbkfEuvHTty7H4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        288
      ],
      "id": "b84a3b3d-050d-43d4-8646-cbf667366dd9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bycka3tiQ0lfOLWo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee68aa18-98b4-41d3-8c09-d6a35ed4bed4",
              "name": "Name",
              "value": "={{ $json[\"Full Name\"] }}",
              "type": "string"
            },
            {
              "id": "80dc9a83-226c-48fe-b63c-7b17a864f112",
              "name": "Birthdate",
              "value": "={{ $json[\"Date of Birth\"] }}",
              "type": "string"
            },
            {
              "id": "ddff9d0e-0d46-40fb-ba9a-a2552e37b04e",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "7b3c7c92-4c49-4bda-bbf5-e821687234ad",
              "name": "Policy Type",
              "value": "={{ $json[\"Policy Type\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        288
      ],
      "id": "2f126777-09c9-48f7-9c06-4d343fafb392",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1c71f23-3539-45a1-a23a-7d534fb2a4e0",
              "leftValue": "={{ $json.Birthdate.slice(-5) }}",
              "rightValue": "={{ $now.toFormat('MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        288
      ],
      "id": "b909a2e0-0285-46bb-adca-b0c7536395a5",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        384
      ],
      "id": "3541fe73-7bf8-4329-b217-766226745fb6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Happy Birhtday!",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\">\n  <div style=\"background-color: #1e3a8a; padding: 30px; text-align: center;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; letter-spacing: 1px;\">Happy Birthday! 🎂</h1>\n  </div>\n  \n  <div style=\"padding: 30px; background-color: #ffffff; color: #333333; line-height: 1.6;\">\n    <p style=\"font-size: 16px; margin-top: 0;\">Hi {{ $json.Name }},</p>\n    \n    <p style=\"font-size: 16px;\">Wishing you a wonderful birthday from all of us at <strong>Santos Insurance</strong>!</p>\n    \n    <p style=\"font-size: 16px;\">We are incredibly grateful to have you as a valued client. We hope this next year brings you health, happiness, and peace of mind.</p>\n    \n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://yourbrokerage.com/birthday-gift\" style=\"background-color: #10b981; color: white; padding: 12px 24px; text-decoration: none; font-weight: bold; border-radius: 4px; display: inline-block;\">Claim Your Birthday Reward</a>\n    </div>\n  </div>\n  \n  <div style=\"background-color: #f9fafb; padding: 20px; text-align: center; border-top: 1px solid #e0e0e0; font-size: 12px; color: #6b7280;\">\n    <p style=\"margin: 0;\">Santos Insurance Agency • 123 Protection Way</p>\n    <p style=\"margin: 5px 0 0 0;\">You received this because you are a registered policyholder for <strong>{{ $json[\"Policy Type\"] }}</strong> coverage.</p>\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        192
      ],
      "id": "67799cdc-e510-4500-b598-2ebb0fa94682",
      "name": "Send a message",
      "webhookId": "55a489e1-8d1a-464a-8a6a-97831edf0329",
      "credentials": {
        "gmailOAuth2": {
          "id": "zBFoE7CLDcbZgsxt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6132121457",
        "text": "Birthday message sent!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        192
      ],
      "id": "23ba7cd7-b85e-4890-a0d2-c4e65ed1e83f",
      "name": "Send a text message",
      "webhookId": "16ca1f9c-1a09-4c5a-bbe9-34c8f2e5859b",
      "credentials": {
        "telegramApi": {
          "id": "8GECkU8Q10iXoYMS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        608
      ],
      "id": "b3a1a9a8-cb00-4e69-97d0-46962d037726",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "6132121457",
        "text": "Client Birthday Emale Workflow Error!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        608
      ],
      "id": "f5b78f37-cd8b-42e8-97b5-014e33d0b833",
      "name": "Send a text message1",
      "webhookId": "58b2941c-7488-4d5b-b439-c8781f1dbd4f",
      "credentials": {
        "telegramApi": {
          "id": "8GECkU8Q10iXoYMS",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1195edb9-a8aa-4d16-9683-b76e76afd6bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ef10f6a375a4169936e48abbdfacae5a3dff7ac5b1256f86d65fc10404c8bb1"
  },
  "id": "ak03FyhdDiM5IRHf",
  "tags": [
    {
      "updatedAt": "2026-05-30T11:09:10.666Z",
      "createdAt": "2026-05-30T11:09:10.666Z",
      "id": "co1hVMF50UtB5njS",
      "name": "Beginner"
    }
  ]
}