Daily Sales Summary Email.json
{
  "name": "Daily Sales Summary Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        432
      ],
      "id": "1b598c5b-7841-4d94-8622-956a5b387249",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11QJSbRl-lmgq5n9DCD30uvrJFIcNDssd8oVTISVts2I",
          "mode": "list",
          "cachedResultName": "Daily Sales Summary Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11QJSbRl-lmgq5n9DCD30uvrJFIcNDssd8oVTISVts2I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11QJSbRl-lmgq5n9DCD30uvrJFIcNDssd8oVTISVts2I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "=Completed",
            "Order ID": "={{ $json[\"Order ID\"] }}"
          },
          "matchingColumns": [
            "Order ID"
          ],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Size",
              "displayName": "Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        432
      ],
      "id": "9e5fb4a5-01cb-4124-b78d-d2b7ac4834d6",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bycka3tiQ0lfOLWo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Price"
            },
            {
              "fieldToAggregate": "Order ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        240
      ],
      "id": "2524d804-445e-4bbc-a83d-95149d3940f2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "33c8d2ce-152c-45aa-a370-3f2728695757",
              "leftValue": "={{ $json[\"Order ID\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d0058d10-c45d-46d6-9514-239324230c54",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "=Pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        432
      ],
      "id": "12984a17-01c8-45f4-bfe5-724b561ba04d",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        624
      ],
      "id": "b3b88aec-345a-432a-87d8-ad0e282968df",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "// Kunin ang unang item mula sa input data\nconst inputData = $input.first().json;\n\n// I-filter ang mga presyo (tanggalin ang mga blankong string at siguraduhing numero)\nconst validPrices = inputData.Price.filter(p => p !== \"\" && p !== null && p !== undefined);\n\n// I-filter ang mga Order ID (tanggalin ang mga blankong string)\nconst validOrders = inputData[\"Order ID\"].filter(id => id !== \"\" && id !== null && id !== undefined);\n\n// 1. Kunin ang kabuuang suma ng mga presyo\nconst totalRevenue = validPrices.reduce((sum, price) => sum + Number(price), 0);\n\n// 2. Bilangin kung ilang order ang mayroon\nconst totalOrders = validOrders.length;\n\n// Ibalik ang resulta sa n8n bilang isang bagong object\nreturn [\n  {\n    json: {\n      totalRevenue: totalRevenue,\n      totalOrders: totalOrders\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        240
      ],
      "id": "e9ab6a29-368e-406a-8e4c-d0634cd8c318",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "moneywise.jayson@gmail.com",
        "subject": "Summary Report",
        "emailType": "text",
        "message": "=Here is the Summary Report For Sales Today! \n\nDate: {{ new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}\nTotal Revenue: ₱{{ $json.totalRevenue }}\nTotal Orders: {{ $json.totalOrders }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        144
      ],
      "id": "04f40621-044b-40fc-8a6b-0eb043a0477e",
      "name": "Send a message",
      "webhookId": "69578873-5377-42d1-8158-24a135cf7341",
      "credentials": {
        "gmailOAuth2": {
          "id": "zBFoE7CLDcbZgsxt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6132121457",
        "text": "=Here is the Summary Report For Sales Today! \n\nDate: {{ new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}\nTotal Revenue: ₱{{ $json.totalRevenue }}\nTotal Orders: {{ $json.totalOrders }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        336
      ],
      "id": "9d9702c4-5909-459a-9e14-6ba2dbffb892",
      "name": "Send a text message",
      "webhookId": "d6b3817d-39c3-4b0a-ac2e-351f1117869d",
      "credentials": {
        "telegramApi": {
          "id": "8GECkU8Q10iXoYMS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11QJSbRl-lmgq5n9DCD30uvrJFIcNDssd8oVTISVts2I",
          "mode": "list",
          "cachedResultName": "Daily Sails Summary Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11QJSbRl-lmgq5n9DCD30uvrJFIcNDssd8oVTISVts2I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11QJSbRl-lmgq5n9DCD30uvrJFIcNDssd8oVTISVts2I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        432
      ],
      "id": "137642b6-cc70-4e15-9e52-748e9c7a3bb6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bycka3tiQ0lfOLWo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "07384c71-259b-42e7-bda9-de8aad459ae8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ef10f6a375a4169936e48abbdfacae5a3dff7ac5b1256f86d65fc10404c8bb1"
  },
  "id": "r9vpCpGnfhpQI7KN",
  "tags": [
    {
      "updatedAt": "2026-05-30T11:09:10.666Z",
      "createdAt": "2026-05-30T11:09:10.666Z",
      "id": "co1hVMF50UtB5njS",
      "name": "Beginner"
    }
  ]
}